@using DTO
@using Core.Enums
@model ShippingViewModelList

<h1 class="fs-5 text-center mt-5">Showing only on process Shippings</h1>
<table class="custom-table table w-100 mt-5">
	<thead>
		<tr>
			<th>Shipping Id</th>
			<th>Shipping State</th>
			<th>Shipping Weight</th>
			<th>Client</th>
			<th>Employee</th>
			<th>Add comment</th>
			<th>Finish shipment</th>
		</tr>
	</thead>
	<tbody class="">
		@foreach (ShippingDto shipping in Model.Shippings)
		{
			<tr>
				<td>@shipping.Id</td>
				<td class="text-warning">@shipping.State</td>
				<td>@shipping.Weight kg</td>
				<td>@shipping.Client.Name @shipping.Client.Lastname</td>
				<td>@shipping.Employee.Name @shipping.Employee.Lastname</td>
				<td>
					<a class="btn btn-primary" href="/Commentary/Add?id=@shipping.Id"><i
							class="bi bi-chat-left-dots"></i></a>
				</td>
				<td>
					<a class="btn btn-danger" href="/Shipping/Close?id=@shipping.Id"><i class="bi bi-x"></i></a>
				</td>
			</tr>


		}
	</tbody>
</table>
