@using DTO
@model ShippingViewModelNew

@if (!string.IsNullOrEmpty(Model.Message))
{
	<div class="alert alert-danger">@Model.Message</div>
}

<div class="d-flex flex-column justify-content-center align-items-center flex-column mt-5">
	<h1 class="mb-5">Create a new shipment</h1>
	<form method="post" asp-action="NewShipping" asp-controller="Shipping">
		<div class="mb-3">
			<label for="weight" class="form-label">Weight (in kg.)</label>
			<input type="text" inputmode="decimal" class="form-control" id="weight" placeholder="5.25" name="Weight"
				required="required" />
		</div>
		<div class="mb-3">
			<label for="userEmail" class="form-label">User email</label>
			<input type="email" list="user-email" class="form-control" id="userEmail" placeholder="pepe@hotmail.com"
				name="ClientEmail" required="required" />
			<datalist id="user-email">
				@foreach (var user in Model.Clients)
				{
					<option value="@user.Email">@user.Email</option>
				}
			</datalist>
		</div>
		<div class="mb-3">
			<select id="select__shipment_type" class="form-select" onchange="handleSelectChange(this)" name="Type"
				required>
				<option value="" selected disabled>Select shipment type</option>
				<option value="Common">Common</option>
				<option value="Urgent">Urgent</option>
			</select>
		</div>
		<div class="mb-3" style="display: none" id="common__shipping">
			<select id="select__common" class="form-select" name="PickupId" required>
				<option value="" selected disabled>Select an agency</option>
				@foreach (AgencyShippingDto agency in Model.Agencies)
				{
					<option value="@agency.Id">@agency.Name - @agency.Address</option>
				}
			</select>
		</div>
		<div style="display: none" id="urgent__shipping">
			<label for="urgentShippingInput" class="form-label">Type the final address</label>
			<input id="urgentShippingInput" class="form-control" type="text" placeholder="9435 40th W St, 15500"
				name="Address" />
		</div>
		<div class="mt-3">
			<input type="submit" class="btn btn-primary w-100" value="Create shipment" />
		</div>
	</form>
</div>

<script>
	let urgentShippingDiv = document.getElementById("urgent__shipping");
	let commonShippingDiv = document.getElementById("common__shipping");

	function handleSelectChange(selectElement) {
		const selectedValue = selectElement.value;
		if (selectedValue === "Common") {
			urgentShippingDiv.style.display = "none";
			commonShippingDiv.style.display = "block";
		} else if (selectedValue === "Urgent") {
			urgentShippingDiv.style.display = "block";
			commonShippingDiv.style.display = "none";
		} else {
			urgentShippingDiv.style.display = "none";
			commonShippingDiv.style.display = "none";
		}
	}

</script>
