@using Core.Enums
@using DTO.Users
@model UsersViewModelProfile

<section class="mt-5 d-flex flex-column justify-content-center">
    <div>
        <figure class="d-flex align-content-center justify-content-center">

            @if (Enum.GetName(Model.User.Gender) == Gender.Female.ToString())
            {
                <img src="/assets/womanProfile.png" width="300" alt="User Photo">
            }
            else
            {
                <img src="/assets/manProfile.png" width="300" alt="User Photo">
            }
        </figure>

        <form asp-action="Update" asp-controller="User" method="post">
            @Html.AntiForgeryToken()
            <div class="d-flex flex-column justify-content-center align-content-center gap-2 mt-3">
                <div class="input-group d-flex flex-row justify-content-center align-content-center gap-4">
                    <input class="mb-0 form-control" type="hidden" name="Id" value="@Model.User.Id" readonly />
                    <input class="mb-0 form-control" name="Email" value="@Model.User.Email" />
                    <input class="mb-0 form-control" type="password" name="Password" value="@Model.User.Password" />
                </div>

                <div class="input-group d-flex flex-row justify-content-center align-content-center gap-4">
                    <input class="mb-0 form-control" name="Name" value="@Model.User.Name" />
                    <input class="mb-0 form-control" name="Lastname" value="@Model.User.Lastname" />
                </div>

                <div class="input-group d-flex justify-content-center align-content-center gap-4">
                    <select class="mb-0 form-select" name="Role">
                        @if (@Model.UserRole == Role.Administrator)
                        {
                            <option value="@((int)Role.Administrator)" selected="@(Model.User.Role == Role.Administrator)">
                                Administrator
                            </option>
                            <option value="@((int)Role.Employee)" selected="@(Model.User.Role == Role.Employee)">
                                Employee
                            </option>
                            <option value="@((int)Role.Client)" selected="@(Model.User.Role == Role.Client)">
                                Client
                            </option>
                        }
                        else if (@Model.UserRole == Role.Employee)
                        {
                            <option value="@((int)Role.Employee)" selected="@(Model.User.Role == Role.Employee)">
                                Employee
                            </option>
                        }
                        else
                        {
                            <option value="@((int)Role.Client)" selected="@(Model.User.Role == Role.Client)">
                                Client
                            </option>
                        }
                    </select>

                    <!-- Select para Gender -->
                    <select class="mb-0 form-select" name="Gender">
                        <option value="@((int)Gender.Female)" selected="@(Model.User.Gender == Gender.Female)">

                            Female

                        </option>
                        <option value="@((int)Gender.Male)" selected="@(Model.User.Gender == Gender.Male)">
                            Male
                        </option>
                    </select>
                </div>
                <div class="input-group d-flex flex-row justify-content-center align-content-center gap-4">
                    <input class="mb-0 form-control" name="Phone" value="@Model.User.Phone" />
                    <input type="date" class="mb-0 form-control" name="Birth"
                        value="@Model.User.Birth.ToString("yyyy-MM-dd")" />
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-success" title="Save Changes">
                        <i class="bi bi-check-circle"></i> Save
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="d-flex flex-row justify-content-center mt-5 gap-3">
        <form method="post" asp-action="Delete" asp-controller="User">
            @Html.AntiForgeryToken()
            @*
                AntiForgeryToken makes it so that the submit is only valid
                if it comes from this page. It prevents CSRF attacks.
                It generates a hidden input field that contains a unique token
                tied to a specific session that is then later on validated on the server side.
                *@
            <input type="hidden" name="email" value="@Model.User.Email" />
            @if (Context.Session.GetString("Role") == Role.Administrator.ToString())
            {
                <button type="submit" class="btn btn-danger mb-2" title="Delete Profile">
                    <i class="bi bi-trash"></i>
                </button>
            }
        </form>
    </div>
</section>
